<div class="grid-container">
  <div class="header">
    <h1>Welcome to MakersBnB</h1>
  </div>
  <div class="middle">
  <h2>Sign up</h2>
  <form action="/login" method="post" >
    <p><input type="text" name="email" placeholder="email" /></p>
    <p><input type="text" name="password" placeholder="password" /></p>
    <p><input type="submit" value="Sign up" /></p>
  </form>
  <p>Already have an account?</p>
  <p><a href="/login">Log in</a></p>
  </div>
</div>
