<div class="grid-container">
  <div class="header">
    <h1>Welcome to MakersBnB</h1>
  </div>
  <div class="middle">
  <h2>Sign up</h2>
  <form action="/login" method="post" >
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Sign up" />
  </form>
  <p>or</p>
  <p><a href="/login">Log in</a></p>
  </div>
</div>
