<div class="grid-container">
  <div class="header">
    <h1>Welcome to MakersBnB</h1>
  </div>
  <div class="middle">
  <form action="/login" method="post" >
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Sign up" />
  </form>
  </div>
</div>
