<div class="grid-container">
  <div class="header">
    <h1>Please log in below</h1>
  </div>
  <div class="middle">
  <form action="/spaces/list" method="post" >
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Log in" />
  </form>
  </div>
</div>
