<div class="grid-container">
  <div class="header">
    <h1>Booking Successful</h1>
  </div>
  <div class="middle">
    <p>You booked <%= @space.title %> from <%= @booking.start_date %> to <%= @booking.end_date %>.</p>
  </div>
</div>