<div class="grid-container">
  <div class="header">
    <h1>Your listings</h1>
  </div>
  <div class="middle">
    <% @listings.each do |listing|%>
      <li><%= listing.title %></li>
    <% end %>
  </div>
</div>
